.gender-block {
    margin-bottom: 13px;
}

.gender-title{
    width: 400px;
    height: 21.4333px;
    font-size: 16px;
    font-weight: bold;
    color: #90949c;
    margin-top: 3mm;
}

.genderSelect{
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
    margin-top: 13px;
}

.female{
    margin-right: 3mm;
}

.male{
    margin-right: 3mm;
}
